.movies_item{
    position:relative;
    float: left;
    width: 31%;
    text-align: center;
    padding: 0 4.375px;
}

.movies_item a{
    padding: 0px;
}

.movie_pic{
    border-radius: 5px;
}

.movie_tag{
    position: absolute;
    background-color: rgb(251, 114, 153);
    border-color: rgb(251, 114, 153);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 0px 3px;
    left: 62.375px;
    top: 4px;
}

.movie_num{
    position: absolute;
    width: auto;
    height: 16px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    left: 9px;
    top: 135px;
}

.movie_name{
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow:hidden;
    -webkit-box-orient: vertical;
}

.movie_time{
    font-size: 12px;
    text-align: left;
}

/* 省略打点，标题对齐，间隙4px */
/* 1
适配：小屏幕一行三个和大屏幕一行三个视觉上更舒服（菜鸟教程：css媒体类型）
一行三个
间隙4px
宽高比6:19
翻页或分页加载（如何翻页，什么时候翻页）一次20个左右
图片懒加载（加载完之后在展示，加载完之前会有一个灰色的背景，按需，减轻服务器的负担）（图片采取CDN方式获取）
菜鸟教程目录
2 */

/*
文字最多展示两行，超出显示...
text-overflow: ellipsis;    ellipsis  省略;省略号
-webkit-line-clamp用来限制在一个块元素显示的文本的行数。 为了实现该效果，它需要组合其他的WebKit属性。常见结合属性：
display: -webkit-box; 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
-webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式
*/